.create-user {
  background-image: url("cuveavin.jpg");
  height: calc(100vh - 70px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.help-block {
  color: #D4D2CD;
  font-weight: bold;
}
