.password-forgot {
  position: relative;
  background-image: url("pass-wine.jpg");
  height: calc(100vh - 70px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: white;
}

.form-inputs {
  color:white;
}



