<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= vin.producteur %></h4>
    </div>
    <div class="col-xs-4">


        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-4">

          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">

          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>

    </div>

  </div>
</div>
