<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="shopping-card">

<h1>You cart</h1>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>

  <%= order_item.vin.producteur %> - quantity: 1
<br>
  <% end %>
<% end %>
<br>
<div class="edit_button">

  <%= link_to 'Go to payment', vins_path %>
</div>
</div>
