<div class="rev">
  <%= simple_form_for [ @vin, review ], remote: true do |form| %>
    <%= form.input :content, as: :text, placeholder: "type your review..." %>
    <%= form.button :submit %>
  <% end %>
</div>
